header {
    background-color: #AED6F1;
    color: white;
    height: 10%;
    align-items: center;
    display: flex;
    font-size: 25pt;
    font-family: Futura;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-left: 41.5%;
    font-weight: bold;
    border-style: 2px solid;
    border-bottom-style: ridge;  
}

body{
    background-image: url(Images/wallpaper.jpg);
}

a{
    border-bottom: 1px solid black;
    color: dimgray;
}
#logo{
    height: 60px;
    width: 60px;
    position: relative;
    padding-right: 3%;
}

#post_container{
    width: 375px;
    height: 470px;
    background-color: black;
    display: inline-block;
    position: relative;
    top: 100;
    right: 50;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    border-radius: 10px;
    padding: 10px;
}

#thumbnail img{
    height: 300px;
    width: 335px;
    padding-right: 15px;
    padding-left: 15px;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

#item_name{
    font-size: 17pt;
    font-style: italic;
    font-family: Futura;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

#tags{
    font-size: 14pt;
    font-style: oblique;
    color: white;
}

#recent{
    font-family: Futura;
    position: relative;
    top: 12%;
    left: 3%;
    padding-left: 10%;
    font-size: 24pt;
    width: 84%;
    padding-bottom: 5%;
}

#details{
    color: white;
    font-size: 16pt;
}

select:hover {
    color: dimgray;
}

#back{
    position: relative;
    top: 75;
    color: black;
    font-size: 20pt;
}