header {
    background-color: #ECF0F1;
    text-decoration: none;
    height: 10%;
    align-items: center;
    display: flex;
    font-size: 25pt;
    font-family: Futura;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-left: 41.5%;
    font-weight: bold;
    border-style: 2px solid;
    border-bottom-style: ridge;  
    background-image: url(/myApp/);
}

.test{
    color: #34495E;
    text-decoration: underline;
}

.test: visited{
    color: #707B7C;
}
body{
    background-color: #D0D3D4;
}


#logo{
    height: 60px;
    width: 60px;
    position: relative;
    padding-right: 3%;
}

#post_container{
    width: 375px;
    height: 470px;
    background-color: white;
    display: inline-block;
    position: relative;
    top: 100;
    right: 50;
    margin: 5px;
    float: left;
    border-radius: 10px;
    padding: 10px;
}

#thumbnail img{
    height: 300px;
    width: 335px;
    padding-right: 15px;
    padding-left: 15px;
    border-left: 5px solid white;
    border-right: 5px solid white;
}

#item_name{
    font-size: 17pt;
    font-family: Helvetica;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
}

#tags{
    font-size: 14pt;
    font-style: oblique;
    color: white;
    font-family: Helvetica;
}

#recent{
    font-family: Helvetica;
    position: relative;
    top: 12%;
    left: 3%;
    padding-left: 10%;
    font-size: 24pt;
    width: 84%;
    padding-bottom: 5%;
}

#details{
    color: black;
    font-size: 16pt;
    font-family: Helvetica;
}

select:hover {
    color: dimgray;
}

.makeOfferbtn {
    background-color: #2E4053;
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 6px;
    transition: 0.3s;
    font-size: 20px;
    font-family: Helvetica;
    color: white;
    bottom: 0;
    left: 0;
    position: relative;
    padding-top: 3px;
    border-radius: 3px;
    text-align: center;
    border-top: 1px;
    vertical-align: middle;
    z-index: 1000;
}

#makeOfferDrop {
    position: absolute;
    background-color: #34495E
    width: 100px;
    height: 20px;
    cursor: pointer;
}

.push {
    position: fixed;
    left: 50%;
}

#oLay {
    position: absolute;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);;
    top: 150;
    left: 80;
    bottom: 150;
    right: 80;
    align-items: center;
}

#textfield {
    position: absolute;
    top: 40%;
    left: 25%
}

#submitbtn {
    position: absolute;
    top: 50%;
    left: 40%;   
}

#offerbtn {
    position: absolute;
    font-size: 11pt;
    background-color: #34495E;
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2px 4px;
    transition-duration: 0.3s;
    font-family: Helvetica;
    color: white;
    padding-top: 4px;
    border-radius: 3px;
    text-align: center;
    right: 8px;
    bottom: 8px;
}

