header {
    background-color: #ECF0F1;
    color: #707B7C;
    height: 10%;
    align-items: center;
    display: flex;
    font-size: 25pt;
    font-family: Futura;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-left: 41.5%;
    font-weight: bold;
    border-style: 2px solid;
    border-bottom-style: ridge;  
    background-image: url(/myApp/);
}

body{
    background-color: #D0D3D4;
}

.test{
    color: #34495E;
    text-decoration: underline;
}


#logo{
    height: 60px;
    width: 60px;
    position: relative;
    padding-right: 3%;
}


#profile{
    height: 15%;
    background-color: white;
    position: relative;
    top: 10.5%;
    align-items: center;
   
}

#name{
    font-family: Helvetica;
    font-size: 23pt;
    padding-left: 7.5%;
    padding-top: 1%;
    color: black;
}

#degorofc{
    font-family: Helvetica;
    font-size: 16pt;
    padding-left: 7.5%;
    color: black;
}

#post_container{
    
    width: 225px;
    height: 275px;
    background-color: white;
    display: inline-block;
    position: relative;
    bottom: 150;
    left: 6%;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    border-radius: 14px;
    padding: 3px;
}

#thumbnail img{
    height: 165px;
    width: 180px;
    padding-right: 15px;
    padding-left: 15px;
    border-left: 5px solid white;
    border-right: 5px solid white;
}

#item_name{
    font-size: 17pt;
    font-family: Futura;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    
}

#tags{
    font-size: 14pt;
     color: black;
}


#recent{
    position: relative;
    top: 7.5%;
    left: 10%;
    font-size: 18pt;
    width: 80%;
    border-bottom: 5px solid black;
}

#morebtn{
    background-color: black;
    margin-left: 42.5%;
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
    font-family: Helvetica;
    color:  #fbfcfc;
    bottom: 0;
    left: 70;
    position: fixed;
}

#posts{
    top: 37.5%;
    position: relative;
}

#all_posts{
    top: 30%;
    position: relative;
}

#seeOffer{
    position: absolute;
    font-size: 11.5pt;
    background-color: #34495E;
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 10px;
    transition-duration: 0.3s;
    font-family: Helvetica;
    color: white;
    padding-top: 5px;
    border-radius: 3px;
    text-align: center;
    right: 20px;
    top: 140px;
}
